body {
	margin: 0;
	overflow: hidden;
	background-color: rgba(116, 46, 15, 0.77);
}

canvas {
	background-image: radial-gradient(#666, #333);
}

#name {
	position: fixed;
	color: #fff;
	bottom: 0;
	padding-bottom: 6px;
	font-family: sans-serif;
	width: auto;
	text-align: center;
	left: 30%;
}

#list {
	position: fixed;
	color: #fff;
	bottom: 0;
	padding-bottom: 6px;
	font-family: sans-serif;
	width: auto;
	text-align: left;
	left: 0;
}

#w3v{
	position: fixed;
	bottom: 0;
	right: 0;
	padding-bottom: 6px;
	width: auto;
}