.grid-container{
    display: grid;
    grid-template-rows: 80px 80px 200px 80px;
}
@media screen and (min-width:600px) {
    #column1{
        background-color: #666666;
    }
    #column2{
        background-color: #999999;
    }
    #column3{
        background-color: #d1d1d1;
    }
    .column-container{
        clear: left;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 200pt;
    }
}
@media screen and (max-width:599px) {
    #column1{
        background-color: #666666;
    }
    #column2{
        background-color: #999999;
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
    #column3{
        background-color: #d1d1d1;
    }
    .column-container{
        clear: left;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
}
.header{
    font-size: 2em;
    background-color: #58c5cc;
    text-align: center;
    padding: 20pt 30% 20pt;
}

#menu-bar{
    background-color: #0e4b3c;
    width: 100%;
    display: flex;
}
.menu{
    color: white;
    background-color: #0e4b3c;
    border-right: black solid;
    width: 100pt;
    /*height: 50px;*/
    text-align: center;
    padding: 15pt 0 15pt;
}

.column{
    padding: 0;
    background-color: #666666;
}

.footer{
    clear: left;
    color: white;
    background-color: #0e4b3c;
    text-align: center;
    padding: 30pt 30% 30pt;
}