.RedC{
    color: red;
}
.BluC{
    color: blue;
}
body{
    background-color: blanchedalmond;
    font-family: "Arial Black", serif;
}

h2, h3{
    color: cadetblue;
}

p{
    font-style: italic;
    color: cornflowerblue;
    font-family: Arial;
}
