.container {
    width: 960px;
    margin: 0 auto;
}

#text-area {
    font-family: monospace;
    width: 100%;
}

fieldset {
    border: 5px solid black;
    display: inline;
}

legend {
    text-align: left;
}

article {
    alignment-adjust: central;
}

button {
    width: 47%;
}

body {
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #CCCCFF;
    font-family: sans-serif;
    font-size: 14pt;

}

header {
    font-size: 32pt;
    font-weight: bold;
    margin: 0px;

}

select {
    width: 98%;
}

#validate {
    right: 0px;
    position: fixed;
}

.Tiny {
    font-size: 7pt
}

.Small {
    font-size: 10pt
}

.Medium {
    font-size: 12pt
}

.Large {
    font-size: 16pt
}

.ExtraLarge {
    font-size: 24pt
}

.XXL {
    font-size: 32pt
}